{__NOLAYOUT__}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>中国联通用户专属福利权益</title>
		<link rel="stylesheet" href="/static/index/css/base.css?v=1.1" />
		<link rel="stylesheet" href="/static/index/css/common.css?v=1.1" />
		<script type="text/javascript" src="/static/index/js/windowSize.js?v=1.1"></script>
		<link rel="stylesheet" href="/static/index/css/staff.css?v=1.2" />
    </head>
    <body>
        <div id="staff">
					<div class="banner">
						<img src="/static/index/images/staff/banner.png" alt="">
						<p class="user_number">欢迎您，18709897897！</p>
						<p class="user_id">北京市 001号推广员</p>
					</div>
					<div class="main">
						<div class="row">
								<aside class="link">
											<img src="/static/index/images/staff/vercode.png" alt="">
											<p>我的链接</p>	
								</aside>
								<aside>
									<a href="javascript:;">
											<img src="/static/index/images/staff/unciomvip.png" alt="">
											<p>通往联通用户权益</p>
									</a>
								</aside>
						</div>
						<div class="row">
								<aside class="myQrcode">
											<img src="/static/index/images/staff/myvercode.png" alt="">
											<p>我的二维码</p>
								</aside>
								<aside>
												<img src="/static/index/images/staff/news.png" alt="">
												<p>消息中心</p>
								</aside>
						</div>
					</div>
					<div class="bounced_link display_none">
						<div class="mark">
								<span class="close">
									x
								</span>
								<h2 class="title">提 示</h2>
								<p class="text_align_center">
										中国联通用户专属福利权益活动来了！
								</p>
								<p class="text_indent">
										领取【9元】京东新人优惠券，确认收货后关注公众号立返1元，【零元购进行中】联通用户京东专属福利券领取中，专供联通用户独享！尽快领取！
								</p>
								<p >
									<input id="linkmain" class="text_align_center " type="text" value="http://v.ocoun.com">
								</p>
								<p class="text_indent margin_bottom">
										快把活动分享给周围的朋友吧！一起来享受更多优惠！
								</p>
								<div class="btn_box">
										<input class="cancel" type="button" value="取消">
										<input class="copy" type="button" value="复制">
								</div>
								
						</div>
						
					</div>
					<div class="bounced_vercode display_none">
						<div class="mark">
								<span class="close">
										x
								</span>
							<p>中国联通用户专属福利权益</p><p>扫码进入享福利！</p>
							<img id="picurl" src="/static/index/images/staff/code.png" alt="">
							<button class="save_code" >长按二维码保存到本地</button>
						</div>
					</div>
				</div>
    </body>
</html>
<script type="text/javascript" src="/static/index/js/jquery-1.11.3.min.js?v=1.1"></script>
<script type="text/javascript" src="/static/index/js/hqmrequest.js?v=1.1"></script>
<script type="text/javascript" src="/static/index/js/common.js?v=1.1"></script>
<script type="text/javascript" src="/static/index/js/staff.js?v=1.3"></script>