{__NOLAYOUT__}
<!DOCTYPE html>

<html>

	<head>



		<meta charset="UTF-8">

		<meta content="yes" name="apple-mobile-web-app-capable">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>中国联通用户专属福利权益</title>

		<link rel="stylesheet" href="/static/index/css/base.css?v=1.1" />

		<link rel="stylesheet" href="/static/index/css/common.css?v=1.1" />

		<script type="text/javascript" src="/static/index/js/windowSize.js?v=1.1"></script>

		<link rel="stylesheet" href="/static/index/css/jumpLink.css?v=1.1" />

	</head>

	<body>

		<div id="download">

            <div class="banner">

				<img src="/static/index/images/jumpLink/banner_02.png" alt="">

			</div>

			<ul class="main">

				<li>

					<img class="main_bg" src="/static/index/images/jumpLink/bg-jd_02.png" alt="">

					<dl>

						<dd>

							<img src="/static/index/images/jumpLink/happy_01.jpg" alt="">

						</dd>

						<dt>

							<h2>京东新用户领券“零”元购</h2>

							<p>新注册用户领券后花1元购买10元包邮商品，确认收货后，关注公众号返还1元红包。</p>

							<a href="{$rs['url']}">

								<img src="/static/index/images/jumpLink/button.png" alt="">

							</a>

						</dt>

					</dl>

				</li>

				<li>

					<img class="main_bg" src="/static/index/images/jumpLink/bg_jd_01.png" alt="">

					<dl>

						<dd>

							<img src="/static/index/images/jumpLink/new_bj_01.jpg" alt="">

						</dd>

						<dt>

							<h2>联通用户专属特权“优惠券”</h2>

							<p>为联通用户量身定制专属福利券，专供联通用户独享</p>

							<a href="https://u.jd.com/WQt58l">

								<img src="/static/index/images/jumpLink/button.png" alt="">

							</a>

						</dt>

					</dl>

				

				</li>

				<!-- <li>

					<img class="main_bg" src="/static/index/images/jumpLink/bg-jd_02.png" alt="">

					<dl>

						<dd>

							<img src="/static/index/images/jumpLink/happy_01.png" alt="">

						</dd>

						<dt>

							<h2>《淘宝新用户“零元购”》</h2>

							<p>淘宝新人“零元购”，限购一次,仅限在手机淘宝购买</p>

							<a href="">

								<img src="/static/index/images/jumpLink/button.png" alt="">

							</a>

						</dt>

					</dl>

				

				</li> -->

			</ul>

		</div>	

	</body>

</html>

<script type="text/javascript" src="/static/index/js/jquery-1.11.3.min.js?v=1.1"></script>

<script type="text/javascript" src="/static/index/js/common.js?v=1.1"></script>

<script type="text/javascript" src="/static/index/js/jumpLink.js?v=1.1"></script>

