{__NOLAYOUT__}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>消息中心</title>
		<link rel="stylesheet" href="/static/index/css/base.css?v=1.2" />
		<link rel="stylesheet" href="/static/index/css/common.css?v=1.2" />
		<script type="text/javascript" src="/static/index/js/windowSize.js?v=1.2"></script>
		<link rel="stylesheet" href="/static/index/css/news.css?v=1.2" />
	</head>
	<body>
		<div id="news">
            <header>
                <img onClick="javascript :history.back(-1);" src="/static/index/images/staff/go_back.png" alt="">
                <p>京东一元购说明</p>
            </header>
            <article class="main">
                <img src="/static/index/images/staff/news_banner.png?v=1.2" alt="">
            </article>
		</div>	
	</body>

</html>
<script type="text/javascript" src="/static/index/js/jquery-1.11.3.min.js?v=1.2"></script>
<script type="text/javascript" src="/static/index/js/hqmrequest.js?v=1.2"></script>
<script type="text/javascript" src="/static/index/js/common.js?v=1.2"></script>
<!-- <script type="text/javascript" src="/static/index/js/news.js?v=1.2"></script> -->

